body {  
  font-family: Helvetica;
  font-size: 22;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

header .logo {
  max-height: 50px;
  margin-left: 10px;
}

header .middle{
  min-width: 20px;
}

header li {
  display: inline;
  text-decoration: none;
}

.nav li a {
  text-decoration: underline;
  color: seashell;
}

.banner {
  background:url("/media/img-mission-background.jpg");
  height: 700px;
  align-items: center;
}

.mission {
  width: 1200px;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured {
  display: flex;
  flex-flow: row wrap;
}

.featured-item img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
  justify-content: center;
}