body {  
  font-family: Helvetica;
  font-size: 22;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
}

header .nav {
  display: inline;
  text-decoration: none;
}

.nav a {
  text-decoration: underline;
}

.banner {
  background:url("/media/img-mission-background.jpg");
  max-width: 1200px;
  max-height: 700px;
}